@media screen and (orientation: portrait) {
	:root {
		--chat-margin-size: 	1vw;
		--chat-font-size: 		3.2vw;
		--chat-btn-size: 		3vw;
		--chat-scrollbar-size:	1vw;
		--chat-border-radius:	0.75vw;
		--chat-border-size:		0.25vw;
	}
}

@media screen and (orientation: landscape) {
	:root {
		--chat-margin-size:		1vh;
		--chat-font-size:		2.4vh;
		--chat-btn-size:		3vh;
		--chat-scrollbar-size:	1vh;
		--chat-border-radius:	0.75vh;
		--chat-border-size:		0.25vh;
	}
}



/* Chat messages container */
#chat-messages {
	height: 80%;
	padding: var(--chat-margin-size);
	text-align: left;
	border-radius: var(--chat-border-radius) var(--chat-border-radius) 0px 0px;
	color: #b3af72;
}

#chat-messages-content {
	height: 100%;
	overflow-y: scroll;
}

#chat-messages-content::-webkit-scrollbar {
	width: var(--chat-scrollbar-size);
}

#chat-messages-content::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 5px;
}

#chat-messages-content::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 5px;
}

#chat-messages-content::-webkit-scrollbar-thumb:hover {
	background: grey;
}

#chat-notification {
	width: var(--chat-btn-size);
	position: fixed;
	bottom: 0;
	right: calc((100% - var(--layer-size)) / 2 - var(--chat-btn-size) * 3);
}



/* Each chat message */
.chat-message {
	font-size: var(--chat-font-size) !important;
	display: flex;
    margin-left: 0 !important;
	margin-right: calc(var(--chat-margin-size) * 0.8) !important;
	margin-bottom: var(--chat-margin-size);
	border-radius: var(--chat-border-radius);
}

.chat-message:last-of-type {
	margin-bottom: 0;
}

.chat-message.dark {
	/*background-color: #437149;*/
	color: white;
}

.chat-message.light {
	/*background-color: #c7da61;*/
	color: white;
}

.chat-message-sender {
	font-weight: bold;
	padding: var(--chat-margin-size);
	padding-left: calc(var(--chat-margin-size) * 2);
	margin-right: calc(var(--chat-margin-size) * 0.5);
	display: block;
	width: 40%;
}

.chat-message-sender img {
	width: calc(var(--picture-size) * 0.7);
	height: calc(var(--picture-size) * 0.7);
	border-radius: var(--chat-border-radius);
}

.chat-message-content {
	padding: var(--chat-margin-size);
	margin-bottom: 0;
	width: 100%;
}



/* Chat bottom container */
#chat-bottom {
	height: 20%;
	display: flex;
	margin-left: unset;
	margin-right: unset;
}

#chat-text-input {
	font-size: var(--chat-font-size);
	height: 100%;
	border-radius: 0 0 0 var(--chat-border-radius);
	border-color: grey !important;
	border-width: var(--chat-border-size) !important;
	border-style: solid !important;
	padding: var(--chat-margin-size) !important;
	padding-left: calc(var(--chat-margin-size) * 2) !important;
}

#chat-send-button {
	display: flex;
	align-items: center;
	background-image: unset;
	background-color: darkslategrey;
	border: unset;
	border-radius: 0px 0px var(--chat-border-radius) 0px;
	padding: calc(var(--chat-margin-size) * 2) !important;
	box-shadow: unset;
}

#chat-send-button img {
	width: var(--chat-btn-size);
	height: var(--chat-btn-size);
}
