---
---
:root {
	--margin-size:		1vw;
	--eaten-piece-size: 5vw;
	--picture-size: 	30vw;
	--icon-size: 		5vw;
	--title-size: 		5vw;
	--font-size:		5vw;
	--btn-size: 		3vw;
	--border-radius: 	0.75vw;

	--eaten-panel-line-height: 1vw;
	--layer-margin-side:       auto;
	--side-layer-padding-top:  0;
	--side-layer-padding-left: var(--margin-size);
	--scrollbar-size:          1vw;

	--cell-size: calc((100vw - 4 * var(--margin-size)) / 8);

	--toolbar-margin: 1vw;
	--toolbar-title: 8vw;
	--toolbar-btn-font: 5vw;
	--toolbar-btn-margin-v: 1vw;
	--toolbar-btn-margin-h: 2vw;
	--toolbar-btn-border-r: 0.75vw;
	--toolbar-btn-size: 10vw;
	--toolbar-height: 15vw;
	--toolbar-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.2), 0 1.5vw 2.5vw 0 rgba(0, 0, 0, 0.19);

	--canvas-size: calc(var(--margin-size) * 2 + var(--cell-size) * 8);
	--layer-size: calc(var(--canvas-size) + var(--margin-size) * 2);

	--panel-height: 11vw;
	--screen-height: calc(var(--vh, 1vh) * 100);
	--screen-width: 100vw;
	--game-height: calc(var(--screen-height) - var(--toolbar-height) - var(--panel-height));
}

// Fat screens
@media (min-aspect-ratio: 460/720) {
	:root {
		--toolbar-title: 5vw;
		--toolbar-btn-size: 6vw;
		--toolbar-height: 7vw;
		--panel-height: 9vw;
		--game-height: calc(var(--screen-height) - var(--toolbar-height) - var(--panel-height));
		--cell-size: calc((var(--game-height) - 2 * var(--util-picture-size) - 6 * var(--margin-size)) / 8);
	}
	

	// iPhone screens
	@media (max-height: 667px) {
		:root {
			--toolbar-title: 5vw;
			--toolbar-btn-size: 6vw;
			--toolbar-height: 12vw;
			--panel-height: 9vw;
			--game-height: calc(var(--screen-height) - var(--toolbar-height) - var(--panel-height));
			--cell-size: calc((var(--game-height) - 2 * var(--util-picture-size) - 6 * var(--margin-size)) / 8);
		}	
	}
}

#theme-panel { display: none !important; }
.home-btn.in-game { display: none !important; }

body {
	background-color: black;
}

#main-container {
	display: flex;
    flex-direction: column;
	// height: 100vh;

	#chess-toolbar {
		position: fixed;
		height: var(--toolbar-height);
		z-index: 100;
		background-color: black;
		box-shadow: var(--toolbar-shadow);

		display: flex;
	    width: -webkit-fill-available;
		justify-content: space-between;
	    background-color: black;

	    transition: top 0.3s;

	    .title {
	    	color: white;
	    	font-size: var(--toolbar-title);
	    	margin: auto;
	    }

		.toolbar-btn {
			height: var(--toolbar-btn-size);
			padding: 0 calc(3 * var(--toolbar-margin));
			margin: auto 0;
			cursor: pointer;
		}
	}

	#game-content {
		display: grid;
		// width: var(--screen-width);
		height: var(--game-height);
		align-items: center;
		margin-top: calc(var(--toolbar-height) + var(--margin-size) * 0);
		// padding-bottom: var(--panel-height);
		// margin-bottom: var(--panel-height);
		justify-content: center;
		// margin: auto;
		// background-color: white;

		// * { display: none; }

		backdrop-filter: blur(2vw);
		-webkit-backdrop-filter: blur(2vw);

		&:nth-child(1) { animation: 0.2s ease 0s normal forwards 1 fadein; -webkit-animation-fill-mode: forwards; }
		&:nth-child(2) { animation: 0.4s ease 0s normal forwards 1 fadein; -webkit-animation-fill-mode: forwards; }
		&:nth-child(3) { animation: 0.6s ease 0s normal forwards 1 fadein; -webkit-animation-fill-mode: forwards; }
	}

	#panel-section {
		bottom: 0;
		position: fixed;
		height: var(--panel-height);
		z-index: 100;
		width: var(--screen-width);
		height: var(--panel-height);
		background-color: rgba(0, 0, 0, 0.69);

		margin: auto;
	    left: 0;
	    right: 0;
	}
}

.x0 { left: calc(var(--margin-size) + (0 * var(--cell-size))); }
.x1 { left: calc(var(--margin-size) + (1 * var(--cell-size))); }
.x2 { left: calc(var(--margin-size) + (2 * var(--cell-size))); }
.x3 { left: calc(var(--margin-size) + (3 * var(--cell-size))); }
.x4 { left: calc(var(--margin-size) + (4 * var(--cell-size))); }
.x5 { left: calc(var(--margin-size) + (5 * var(--cell-size))); }
.x6 { left: calc(var(--margin-size) + (6 * var(--cell-size))); }
.x7 { left: calc(var(--margin-size) + (7 * var(--cell-size))); }

.y0 { top: calc(var(--margin-size) + (0 * var(--cell-size))); }
.y1 { top: calc(var(--margin-size) + (1 * var(--cell-size))); }
.y2 { top: calc(var(--margin-size) + (2 * var(--cell-size))); }
.y3 { top: calc(var(--margin-size) + (3 * var(--cell-size))); }
.y4 { top: calc(var(--margin-size) + (4 * var(--cell-size))); }
.y5 { top: calc(var(--margin-size) + (5 * var(--cell-size))); }
.y6 { top: calc(var(--margin-size) + (6 * var(--cell-size))); }
.y7 { top: calc(var(--margin-size) + (7 * var(--cell-size))); }

.white { color: white; }
.black { color: black; }
.bg-white { background-color: white; }
.bg-black { background-color: black; }
.hidden { display: none !important; }

.numbering {
	text-align: left;
	margin-left: calc(var(--margin-size) / 4);
	position: absolute;
	font-weight: bold;
	font-size: calc(var(--font-size) * 0.75);
}

.lettering {
	text-align: right;
	margin-top: calc(var(--cell-size) - var(--margin-size) * 4.2);
	margin-right: calc(var(--margin-size) * 0.2);
	font-weight: bold;
	font-size: calc(var(--font-size) * 0.75);
}

.grid {
	width: var(--cell-size);
	height: var(--cell-size);
	transition: .2s all ease;
	position: absolute;
}

.piece {
	width: calc(var(--cell-size));
	height: calc(var(--cell-size));

	position: absolute;
	float: left;
	transition: .2s all ease;
	z-index: 3;
}

.canvas-border {
	position: absolute;
	width: var(--canvas-size);
	height: var(--canvas-size);
	z-index: 0;
}

.eaten-piece {
	width: var(--eaten-piece-size);
	height: var(--eaten-piece-size);
}

// .eaten-panel {
// 	height: calc(var(--eaten-piece-size) * 2);
// 	width: calc(var(--eaten-piece-size) * 6);
// 	margin-right: unset !important;
// 	line-height: var(--eaten-panel-line-height);
// }

#blacksEaten {
	margin-left: calc(var(--margin-size) / 4) !important;
}

#whitesEaten {
	margin-left: calc(var(--margin-size) / -4) !important;
}



.player-pic {
	width: var(--picture-size);
	height: var(--picture-size);
	margin: var(--margin-size);
	border-radius: calc(var(--picture-size) / 10);
	background-color: black;
	border: calc(var(--margin-size) * 0.7);
	border-style: solid;
}

#B-player-image {
	border-color: black;
}

#W-player-image {
	border-color: white;
}

.player-pic.pull-left  { margin-left: 0; }
.player-pic.pull-right { margin-right: 0; }

.player-name {
	font-size: var(--title-size);
	margin-top: var(--margin-size) !important;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 50%;
}

#canvas-background {
	left: calc(var(--margin-size));
	top: calc(var(--margin-size));
	width: calc(var(--cell-size) * 8);
	height: calc(var(--cell-size) * 8);
	position: absolute;
}

#canvas-layer {
	left: 0;
	position: absolute;
	z-index: 3;
}

#canvas-wrap {
	position: relative;
	height: var(--canvas-size);
	margin-left: var(--margin-size);
	/*margin-top: var(--margin-size);*/
}

.toolbar-wrap {
	margin: 0 !important;
}

// #action-layer {
// 	background-color: rgba(255, 255, 255, 0.2);
// 	padding-left: var(--margin-size);
// 	padding-right: var(--margin-size);
// 	padding-bottom: var(--margin-size);
// 	margin-left: auto;
// 	margin-right: var(--layer-margin-side);
// 	width: var(--layer-size);
// }

.home-btn.in-game {
	font-size: var(--font-size);
	padding: calc(var(--btn-size) / 4) calc(var(--btn-size) / 2);
	border-radius: var(--border-radius);
	margin-top: calc(var(--picture-size) * 0.5 + var(--margin-size) - var(--btn-size));
	background-image: unset;
	background-color: black;
	border: unset;
	box-shadow: unset;

	#home-icon {
		width: var(--icon-size);
		height: var(--icon-size);
	}
}


// #side-layer {
// 	background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
// 	padding-left: var(--side-layer-padding-left);
// 	padding-right: var(--margin-size);
// 	padding-top: var(--side-layer-padding-top);
// 	margin-left: var(--layer-margin-side);
// 	margin-right: auto;
// 	width: var(--layer-size);
// 	color: white;
// 	text-align: left;
// 	height: calc(var(--layer-size) + var(--picture-size) + var(--margin-size));
// 	display: flex;
// 	flex-direction: column;
// }

.utility-section {
	background-color: #000000db;
	border-radius: var(--border-radius);
	padding: calc(var(--margin-size));
	padding-bottom: 0;
}

#history-section {
	// height: 40%;
	height: 0;
	background-color: #000000db;
	// padding: calc(var(--margin-size));
	padding-bottom: 0;
	overflow-y: scroll;
}

#post-history-section {
	// height: var(--margin-size);
	background-color: #000000db;
	margin-bottom: calc(var(--margin-size));
	// border-radius: 0 0 var(--border-radius) var(--border-radius);
}

#chat-section {
	height: 70%;
	background-color: #000000db;
	border-radius: var(--border-radius);
	margin-bottom: var(--margin-size);
}


#invite-modal {
	#invite-label {
		font-size: var(--modal-title-size);
		color: white;
	}
	#invite-wrap {
		background-color: white;
		padding: calc(3 * var(--margin-size));

		#invite-link {
			word-wrap: break-word;
			color: black;
			font-size: var(--modal-title-size);

			&.classic::selection { background-color: #E6BF83; }
			&.winter::selection  { background-color: #00B3DE; }
			&.metal::selection   { background-color: #d2d2d2; }
			&.nature::selection  { background-color: #c7da61; }
		}
	}
}
