---
---

:root {
	--text-color: white;

	--home-title-size: 10vw;
	--home-button-size: 5vw;
	--home-toolbar-margin: 2vw;
	--home-margin-size: 2vw;
	--home-match-width: 100vw;
	--home-match-height: 100vw;
	--home-match-text-size: 8vw;
	--home-match-margin: 1vw 0vw;
	--home-new-match-margin: 4vw;
	--toolbar-btn-size: 10vw;
	--toolbar-height: 15vw;
	--toolbar-shadow: 0 1vw 2vw 0 rgba(0, 0, 0, 0.2), 0 1.5vw 2.5vw 0 rgba(0, 0, 0, 0.19);
	--toolbar-margin: 1vw;

	--btn-size: 3vw;
	--picture-size: 17vw;
	--home-margin: 1vw;
	--home-spacing: 2vw;
}

#chess-toolbar {
	position: fixed;
	height: var(--toolbar-height);
	z-index: 100;
	background-color: black;
	box-shadow: var(--toolbar-shadow);

	display: flex;
	justify-content: space-between;
    width: -webkit-fill-available;
	@media screen and (orientation: landscape) {
		margin: var(--home-margin);
	}
	
	.title {
		color: var(--text-color);
		margin: var(--home-margin);
		font-size: var(--home-title-size);
		margin: auto;
	}

	.toolbar-btn {
		height: var(--toolbar-btn-size);
		padding: 0 calc(3 * var(--toolbar-margin));
		margin: auto 0;
		cursor: pointer;
	}
}

#matches-display {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	padding-top: var(--toolbar-height);

	.opponent-container {
		display: flex;
		flex-direction: column;
		min-width: var(--home-match-min-width);
		width: var(--home-match-width);
		max-width: 100%;

		margin: var(--home-match-margin);
		margin-top: 0;
		padding: calc(var(--home-margin) * 3) !important;
		border-radius: var(--home-margin) !important;

		background-color: darkslategrey;
		text-align: left;

		&:nth-child(1) { animation: 0.2s ease 0s normal forwards 1 fadein; }
		&:nth-child(2) { animation: 0.4s ease 0s normal forwards 1 fadein; }
		&:nth-child(3) { animation: 0.6s ease 0s normal forwards 1 fadein; }
		&:nth-child(4) { animation: 0.8s ease 0s normal forwards 1 fadein; }
		&:nth-child(5) { animation: 1.0s ease 0s normal forwards 1 fadein; }
		&:nth-child(6) { animation: 1.2s ease 0s normal forwards 1 fadein; }

		.player-title-bar {
			display: inline-flex;
			align-items: center;
			padding-bottom: calc(var(--home-margin) * 2);

			.player-name {
				font-size: calc(var(--home-match-text-size) * 0.7);
				margin-bottom: auto;
				color: var(--text-color) !important;
				text-align: left;
				flex-grow: 100;
				line-height: 1.2;
			}
		}

		.matches-list {
			overflow-x: auto;
			flex-grow: 100;
			display: -webkit-inline-box;
			border-radius: var(--home-margin) !important;
			margin-right: calc(-1 * var(--home-margin));
			margin-top: calc(2 * var(--home-margin));

			.matches-column {
				width: calc(100% / 4 - var(--home-margin));
				margin-right: var(--home-margin);

				.match-link {
					width: 100%;
					margin-bottom: var(--home-margin);
					padding: 0 !important;
					border-radius: var(--home-margin) !important;

					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					font-size: var(--home-match-text-size) !important;
					color: black !important;
					justify-content: left;

					background-image: unset !important;
					// border: unset !important;
					background-color: #57bf69 !important;

					&:last-child {
						margin-bottom: 0;
					}

					&.inactive {
						background-color: grey !important;
					}

					&.W {
						background-color: white;
						border: solid white var(--home-margin);
					}

					&.B {
						background-color: black;
						border: solid black var(--home-margin);
					}

					.match-link-content {
						.player-pic {
							width: 100%;
							margin: auto;
							margin-right: calc(4 * var(--home-margin));
						}

						.match-link-date {
							font-size: calc(var(--home-match-text-size) * 0.5) !important;
							text-align: center;
						}
					}
				}
			}
		}
	}
}

#new-match-modal {
	.modal-body {
		text-align: center;

		#submit {
			color: black !important;
			background-color: var(--text-color) !important;
			display: unset !important;
			border-radius: calc(var(--btn-size) / 4);
		    padding: calc(var(--btn-size) / 2) var(--btn-size) !important;
		}

		.spacing {
			height: var(--home-spacing);
		}
	}
}

#menu-modal {

	#menu-name {
		color: white;
		font-size: var(--home-match-text-size);
	}

	#menu-stats {
		color: white;
	}

	#menu-photo {
		width: 50%;
		margin: auto;
		margin-bottom: var(--home-margin-size)
	}

	.btn {
		color: black !important;
		background-color: var(--text-color) !important;
		border-radius: calc(var(--btn-size) / 4);
		padding: calc(var(--btn-size) / 3) calc(var(--btn-size) / 1.5);
	}
}