@media screen and (orientation: portrait) {
	:root {
		--modal-title-size:         6vw;
		--modal-width:              90vw;
		--modal-height:             25vw;
		--modal-border-size:        2vw;
		--modal-border-radius:      0.5vw;
		--modal-margin-size:        5vw;
		--modal-button-title-size:  calc(var(--modal-title-size) * 0.8);
		--modal-button-margin-size: 6vw;
	}
}

@media screen and (orientation: landscape) {
	:root {
		--modal-title-size:         4vh;
		--modal-width:              80vh;
		--modal-height:             25vh;
		--modal-border-size:        2vh;
		--modal-border-radius:      0.5vh;
		--modal-margin-size:        5vh;
		--modal-button-title-size:  calc(var(--modal-title-size) * 0.8);
		--modal-button-margin-size: 3vh;
	}
}



/* General modal */
.modal {
	text-align: center;
}

.modal-body, .swal-modal {
	font-family: 'Spectral', serif !important;
	width: var(--modal-width);
	padding: var(--modal-margin-size);
	background-size: cover;
	background-color: darkslategrey !important;
	border-color: grey;
	border-width: var(--modal-border-size);
	border-style: ridge;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;

	/* Align center */
	width: var(--modal-width) !important;
	height: var(--modal-height) !important;
	position: absolute !important;
	left: 50% !important;
	top: 50% !important;
	margin-left: calc(var(--modal-width) * -0.5) !important;
	margin-top: calc(var(--modal-height) * -0.5) !important;
}

.modal-content {
	border: unset !important;
}

.modal-body {
	width: unset !important;
}



/* Bootstrap swal alert */
.swal-text, .swal-title, .swal-footer {
	font-weight: normal !important;
	font-size: var(--modal-title-size);
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
	color: white !important;
}

.swal-button {
	font-size: var(--modal-button-title-size) !important;
	padding: calc(var(--modal-button-margin-size) / 2) var(--modal-button-margin-size) !important;
	border-radius: var(--modal-border-radius) !important;
}

.swal-button:focus {
	box-shadow: unset !important;
}

.swal-button--confirm {
	background-color: #57bf69 !important;
	border-color: unset !important;
	color: darkslategrey !important;
}

.swal-footer {
	margin-top: calc(var(--modal-margin-size) / 2) !important;
}