---
---
@media screen and (orientation: portrait) {
	:root {
		--modal-title-size:         5vw;
		--modal-width:              90vw;
		--modal-height:             25vw;
		--modal-border-size:        2vw;
		--modal-border-radius:      1vw;
		--modal-margin-size:        5vw;
		--modal-button-title-size:  calc(var(--modal-title-size) * 0.8);
		--modal-button-margin-size: 6vw;
		--modal-dialog-width:       90%;
	}
}

@media screen and (orientation: landscape) {
	:root {
		--modal-title-size:         3vh;
		--modal-width:              80vh;
		--modal-height:             25vh;
		--modal-border-size:        2vh;
		--modal-border-radius:      1vh;
		--modal-margin-size:        5vh;
		--modal-button-title-size:  calc(var(--modal-title-size) * 0.8);
		--modal-button-margin-size: 3vh;
		--modal-dialog-width:       50%;
	}
}

/* General modal */
.modal {

	.modal-dialog {
		display: flex;
		margin: auto;
		width: var(--modal-dialog-width);
		justify-content: center;

		.modal-content {
			border: unset !important;
			width: 100%;

			.modal-body {
				font-family: 'Spectral', serif !important;
				font-size: var(--modal-title-size);
				padding: var(--modal-margin-size);
				background-size: cover;
				background-color: darkslategrey !important;
				border-color: grey;
				border-width: var(--modal-border-size);
				width: unset !important;

				border-style: double;
				animation: fadein 0.5s 0.1s !important;
				-webkit-animation: fadein 0.5s 0.1s !important;

				.btn-panel {
					width: calc(100% + var(--modal-margin-size) / 2);
					margin: var(--modal-margin-size) auto !important;
					margin-top: 0 !important;
					border-radius: calc(var(--modal-border-radius) / 4);
					text-align: left;
					display: table;
					table-layout: fixed;
				}

				.divider {
					width: 100%;
					height: 0.1vh;
				    line-height: 0;
					text-align: center;
					font-size: var(--modal-title-size);
					color: white;
					background: linear-gradient(90deg, transparent 0%, white 10%, white 40%, transparent 40%, transparent 60%, white 60%, white 90%, transparent 100%);
					margin: calc(1 * var(--modal-margin-size)) 0;
				}

				.btn-wrap {
					display: table-cell !important;
				}

				.btn {
					background-color: grey;
					display: block !important;
				    font-size: var(--modal-title-size) !important;
					line-height: 1.5 !important;

				    padding: calc(var(--modal-margin-size) / 10) calc(var(--modal-margin-size) / 10) !important;
					margin: auto calc(var(--modal-margin-size) / 5) auto 0 !important;

					border: unset !important;
					border-radius: var(--modal-border-radius) !important;
					color: white !important;

					&.outline {
						border: calc(var(--modal-border-size) / 4) solid white !important;
					}
				}

				#classic-theme-btn .btn {
					background-image: linear-gradient(to bottom right, #E6BF83, #8B4513);
				}

				#winter-theme-btn .btn {
					background-image: linear-gradient(to bottom right, #00B3DE, #3D507B);
				}

				#metal-theme-btn .btn {
					background-image: linear-gradient(to bottom right, #d2d2d2, #5a5858);
				}

				#nature-theme-btn .btn {
					background-image: linear-gradient(to bottom right, #c7da61, #437149);
				}
			}
		}
	}
}

/* Bootstrap swal alert */
.swal-modal {
	font-family: 'Spectral', serif !important;
	width: var(--modal-width);
	padding: var(--modal-margin-size);
	background-size: cover;
	background-color: darkslategrey !important;
	border-color: grey;
	border-width: var(--modal-border-size);
	border-style: double;
	-webkit-animation: unset !important;
			animation: unset !important;

	.swal-text, .swal-title, .swal-footer {
		font-weight: normal !important;
		font-size: var(--modal-title-size);
		text-align: center;
		margin: 0 !important;
		padding: 0 !important;
		color: white !important;
		word-wrap: break-word;
	}

	.swal-button {
		font-size: var(--modal-button-title-size) !important;
		padding: calc(var(--modal-button-margin-size) / 2) var(--modal-button-margin-size) !important;
		border-radius: var(--modal-border-radius) !important;

		&:focus {
			box-shadow: unset !important;
		}
	}

	.swal-button--confirm {
		background-color: #57bf69 !important;
		border-color: unset !important;
		color: darkslategrey !important;
	}

	.swal-footer {
		margin-top: calc(var(--modal-margin-size) / 2) !important;
	}
}