@media screen and (orientation: portrait) {
	:root {
		--swal-title-size: 4vw;
		--swal-btn-size: 3vw;
		--swal-width: 80vw;
		--swal-border-size: 2vw;
		--swal-border-radius: 0.5vw;
		--swal-margin-size: 5vw;
		--swal-button-margin-size: 2vw;
	}
}
@media screen and (orientation: landscape) {
	:root {
		--swal-title-size: 4vh;
		--swal-btn-size: 3vh;
		--swal-width: 80vh;
		--swal-border-size: 2vh;
		--swal-border-radius: 0.5vh;
		--swal-margin-size: 5vh;
		--swal-button-margin-size: 2vh;
	}
}

.swal-modal, .modal-body {
	width: var(--swal-width);
	font-family: 'Spectral', serif !important;
	padding: var(--swal-margin-size);
	background-size: cover;
	background-color: darkslategrey !important;
	border-color: grey;
	border-width: var(--swal-border-size);
	border-style: ridge;
}

.swal-text, .swal-title, .swal-footer {
	font-weight: normal !important;
	font-size: var(--swal-title-size);
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
	color: white !important;
}

.swal-button {
	font-size: var(--swal-title-size) !important;
	padding: calc(var(--swal-button-margin-size) / 2) var(--swal-button-margin-size) !important;
	border-radius: var(--swal-border-radius) !important;
}

.swal-button:focus {
	box-shadow: unset !important;
}

.swal-button--confirm {
	background-color: #757575 !important;
	border-color: unset !important;
}
