@media screen and (orientation: portrait) {
	:root {
		--title-size: 3vw;
		--btn-size: 3vw;
	}
}
@media screen and (orientation: landscape) {
	:root {
		--title-size: 3vh;
		--btn-size: 3vh;
	}
}
@media (max-width: 176vh) and (orientation: landscape) {
	:root {
		--title-size: 3vh;
		--btn-size: 3vh;
	}
}

.swal-modal, .modal-body {
	background-size: cover;
	border-color: grey;
	border-width: 5px;
	border-width: 20px;
	border-style: ridge;
	background-color: darkslategrey !important;
	font-family: 'Spectral', serif !important;
}

.swal-text, .swal-title {
	color: white !important;
	font-weight: normal !important;
	font-size: calc(1.2 * var(--title-size));
	text-align: center;
}

.swal-button {
	font-size: calc(var(--btn-size) * 0.75) !important;
	padding: calc(var(--btn-size) / 3) !important;
	padding-left: calc(var(--btn-size) / 1.5) !important;
	padding-right: calc(var(--btn-size) / 1.5) !important;
	border-radius: calc(var(--btn-size) / 4) !important;
}

.swal-button--confirm {
	background-color: #757575 !important;
	border-color: unset !important;
}
