@media screen and (orientation: portrait) {
	:root {
		--util-margin-size:		1vw;
		--util-picture-size: 	10vw;
		--util-icon-size: 		3vw;
		--util-title-size: 		3vw;
		--util-btn-size: 		3vw;
	}
}

@media screen and (orientation: landscape) {
	:root {
		--util-margin-size:		1vh;
		--util-picture-size:	10vh;
		--util-icon-size:		3vh;
		--util-title-size:		3vh;
		--util-btn-size:		3vh;
	}
}



/* Player utility panels */
.player-utility {
	margin: 0 !important;
	margin-bottom: var(--util-margin-size) !important;
	padding: var(--util-margin-size);
	background-color: #494949;
	border-radius: calc(var(--util-btn-size) / 4);
	display: flex;
}

.player-utility-profile {
	width: 30%;
	text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
    display: block;
}

.player-utility-name {
	font-size: var(--util-title-size);
}

.player-utility-pic {
	width: var(--util-picture-size);
	height: var(--util-picture-size);
	border-radius: calc(var(--util-picture-size) / 10);
}

.player-utility-stat {
	width: 30%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: calc(var(--util-title-size) * 2);
}

.player-utility-timer {
	width: 40%;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    font-size: calc(var(--util-title-size) * 2);
}

.player-utility-timer .timer {
    padding: calc(var(--util-margin-size) / 2) var(--util-margin-size);
	border-radius: calc(var(--util-btn-size) / 4);
    float: right;
    background-color: #757575;
	color: darkslategrey;
}

.timer.ticking {
	color: white !important;
}

#black-player-utility-image {
	border: calc(var(--util-picture-size) / 15) solid black;
}

#white-player-utility-image {
	border: calc(var(--util-picture-size) / 15) solid white;
}



/* Game utility panels */
#game-utility, #theme-utility {
	width: calc(100% + var(--util-margin-size) / 2);
	margin: 0 !important;
	margin-top: calc(var(--util-margin-size) / 2) !important;
	margin-bottom: var(--util-margin-size) !important;
	border-radius: calc(var(--util-btn-size) / 4);
	display: flex;
	text-align: center;
	display: table;
	table-layout: fixed;
}

.utility-title {
	font-size: var(--util-title-size);
	margin-top: auto;
	margin-bottom: auto;
	margin-right: var(--util-margin-size);
	width: 100%;
	margin-top: calc(var(--util-margin-size) * 5) !important;
	text-align: center;
}

.utility-divider {
	width: 5%;
	/*border-color: #757575;*/
}

.utility-btn {
	display: block !important;
    font-size: var(--util-title-size) !important;
	background-color: #494949;
	border-radius: calc(var(--util-btn-size) / 4);

    padding-top: calc(var(--util-margin-size) / 2);
    padding-bottom: calc(var(--util-margin-size) / 2);
    padding-left: var(--util-margin-size);
    padding-right: var(--util-margin-size);

    margin-top: auto;
    margin-bottom: auto;
	margin-right: calc(var(--util-margin-size) / 2);
	border: unset !important;
	line-height: 1.5 !important;
}

.theme-btn {
	display: block !important;
    font-size: var(--util-title-size) !important;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: calc(var(--util-btn-size) / 4);

    padding-top: calc(var(--util-margin-size) / 2);
    padding-bottom: calc(var(--util-margin-size) / 2);
    padding-left: var(--util-margin-size);
    padding-right: var(--util-margin-size);

    margin-top: auto;
    margin-bottom: auto;
	margin-right: calc(var(--util-margin-size) / 2);
	border: unset !important;
	line-height: 1.5 !important;
}

.utility-btn-wrap, .theme-btn-wrap {
	display: table-cell !important;
}

.utility-icon {
	width: var(--util-icon-size);
	height: var(--util-icon-size);
	margin-right: calc(var(--util-margin-size) / 2);
}

#classic-theme-btn .theme-btn {
	background-image: linear-gradient(to bottom right, #E6BF83, #8B4513);
	/*background-image: linear-gradient(to bottom right, #8B4513, #8B4513);*/
}

#winter-theme-btn .theme-btn {
	background-image: linear-gradient(to bottom right, #00B3DE, #3D507B);
	/*background-image: linear-gradient(to bottom right, #3D507B, #3D507B);*/
}

#metal-theme-btn .theme-btn {
	background-image: linear-gradient(to bottom right, #d2d2d2, #5a5858);
	/*background-image: linear-gradient(to bottom right, #5a5858, #5a5858);*/
}

#nature-theme-btn .theme-btn {
	background-image: linear-gradient(to bottom right, #c7da61, #437149);
	/*background-image: linear-gradient(to bottom right, #437149, #437149);*/
}
