---
---
:root {
	--util-margin-size:		1vw;
	--util-picture-size: 	15vw;
	--util-icon-size: 		5vw;
	--util-title-size: 		5vw;
	--util-btn-size: 		3vw;
	--util-btn-margin:      2vw;
	--util-divider-width:	0.1vw;
	--util-border-size: 	0.4vw;
	--util-move-history-height: 35vw;
}

// Fat screens
@media (min-aspect-ratio: 460/720) {
	:root {
		--util-icon-size: 4vw;
		--util-btn-margin: 1vw;

	}

	// iPad screens
	@media (min-height: 667px) {
		:root {
			--util-picture-size: calc(150px - 15vw);
		}
	}

	// iPhone screens
	@media (max-height: 667px) {
		:root {
			--util-picture-size: calc(110px - 15vw);
		}	
	}
}


/* Player utility panels */
.player-utility {
	width: calc(8 * var(--cell-size) + 2 * var(--margin-size));
	position: relative;
	margin: 0 var(--util-margin-size);
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	// height: 30vw;

	&.B { border: var(--util-margin-size) solid black; }
	&.W { border: var(--util-margin-size) solid white; }

	.player-utility-profile {
		text-overflow: ellipsis;
		white-space: nowrap;
	    overflow: hidden;
	    display: block;
	    text-align: left;
    	width: calc(var(--util-picture-size) + var(--margin-size));

	    .player-utility-pic {
	    	width: calc(var(--util-picture-size) + var(--margin-size));
	    	height: var(--util-picture-size);
	    	background-color: black;

	    	&.B { border: var(--util-margin-size) solid black; }
	    	&.W { border: var(--util-margin-size) solid white; }
	    }
	}

	.utility-middle {
		display: grid;

		.eaten-panel {
		    text-align: left;
		    font-size: var(--util-title-size);
		    overflow-x: auto;
		    white-space: nowrap;
			// &#enemy-eaten { margin-bottom: auto; }
			// &#me-eaten { margin-top: auto; }
		}

		.player-utility-name {
		    color: white;
			font-size: var(--util-title-size);
			margin: 0 var(--margin-size);
			text-align: left;

			// &#enemy-utility-name { margin-top: auto; }
			// &#me-utility-name { margin-bottom: auto; }
		}
	}

	.player-utility-stat {
	    text-align: center;
	    margin-top: auto;
	    margin-bottom: auto;
	    font-size: var(--util-title-size);
	    color: white;
	}

	.player-utility-timer {
		position: absolute;
	    text-align: right;
	    font-size: var(--util-title-size);

		.timer {
		    padding: 0 var(--util-margin-size);
		    float: right;
		    background-color: #757575;
			color: darkslategrey;
			line-height: 1.2;

			&.ticking { color: white !important; }
			&.B { border: var(--util-margin-size) solid black; }
			&.W { border: var(--util-margin-size) solid white; }
		}
	}

	&#enemy-utility {
	    border-bottom: 0;
		border-top-left-radius: calc(var(--util-btn-size) / 4);
		border-top-right-radius: calc(var(--util-btn-size) / 4);

	    .player-utility-pic {
	    	border-left: 0;
	    	border-top: 0;
	    	border-bottom: 0;
	    	// border-bottom-right-radius: calc(var(--util-btn-size) / 4);
	    }

		.player-utility-timer {
		    right: 0; top: 0;
			margin-bottom: unset;

			.timer {
				border-right: 0;
				// border-bottom-left-radius: calc(var(--util-btn-size) / 4);
				border-bottom-left-radius: calc(var(--util-btn-size) / 4);
				border-top: 0;
			}
		}
	}

	&#me-utility {
	    border-top: 0;
		border-bottom-left-radius: calc(var(--util-btn-size) / 4);
		border-bottom-right-radius: calc(var(--util-btn-size) / 4);

	    .player-utility-pic {
	    	border-left: 0;
	    	border-top: 0;
	    	border-bottom: 0;
	    	// border-top-right-radius: calc(var(--util-btn-size) / 4);
	    }

		.player-utility-timer {
		    right: 0; top: 0;
			margin-top: unset;

			.timer {
				border-right: 0;
				// border-top-left-radius: calc(var(--util-btn-size) / 4);
				border-bottom-left-radius: calc(var(--util-btn-size) / 4);
				border-top: 0;
			}
		}
	}
}


/* Game utility panels */
.utility-panel {
	width: calc(100%);
	padding: var(--util-margin-size) !important;
	border-radius: calc(var(--util-btn-size) / 4);
	text-align: left;
	display: table;
	table-layout: fixed;
	margin-right: calc(-1 * var(--margin-size));
}

.utility-title {
	font-size: var(--util-title-size);
	margin-top: auto;
	margin-bottom: auto;
	margin-right: var(--util-margin-size);
	width: 100%;
	text-align: center;
}

.utility-divider {
	width: 100%;
	height: 0.1vh;
    line-height: 0;
	text-align: center;
	font-size: var(--util-title-size);
	color: white;
	background: linear-gradient(90deg, transparent 0%, white 10%, white 40%, transparent 40%, transparent 60%, white 60%, white 90%, transparent 100%);
	margin: calc(var(--util-margin-size) * 2) 0 calc(var(--util-margin-size) * 2) 0;
}

.utility-divider span {
	border-radius: calc(var(--util-btn-size) / 4) !important;
	padding:0 10px;
}

.utility-divider.line {
	background: linear-gradient(90deg, transparent 0%, white 10%, white 90%, transparent 100%);
}

.utility-btn {
	display: block !important;
    font-size: var(--util-title-size) !important;
	line-height: 1.5 !important;

    // padding: var(--util-margin-size) calc(var(--util-margin-size) * 2) !important;
	margin: auto calc(var(--util-margin-size) / 2) auto 0 !important;

	border: unset !important;
	border-radius: calc(var(--util-btn-size) / 4) !important;
	color: white !important;
	// background-color: #57bf69 !important;
	line-height: 1 !important;
	padding: var(--util-btn-margin) !important;
}

.utility-btn-wrap {
	display: table-cell !important;
}

.utility-btn-wrap .utility-btn {
	background-color: grey;
}

.utility-icon {
	width: var(--util-icon-size);
	height: var(--util-icon-size);
	margin-right: calc(var(--util-margin-size) / 2);
}

#classic-theme-btn .utility-btn {
	background-image: linear-gradient(to bottom right, #E6BF83, #8B4513);
	/*background-image: linear-gradient(to bottom right, #8B4513, #8B4513);*/
}

#winter-theme-btn .utility-btn {
	background-image: linear-gradient(to bottom right, #00B3DE, #3D507B);
	/*background-image: linear-gradient(to bottom right, #3D507B, #3D507B);*/
}

#metal-theme-btn .utility-btn {
	background-image: linear-gradient(to bottom right, #d2d2d2, #5a5858);
	/*background-image: linear-gradient(to bottom right, #5a5858, #5a5858);*/
}

#nature-theme-btn .utility-btn {
	background-image: linear-gradient(to bottom right, #c7da61, #437149);
	/*background-image: linear-gradient(to bottom right, #437149, #437149);*/
}

.utility-btn.outline {
	border: calc(var(--util-border-size) / 2) solid white !important;
}


#move-history-panel {
	width: calc(100% + var(--util-margin-size) / 2);
	display: flex;
	table-layout: unset;
	flex-flow: wrap;
	justify-content: center;
	margin-bottom: 0 !important;
}

#move-history-panel .move-history-item {
	min-width: calc((100% - 0 * var(--util-margin-size)) / 4);
	padding-bottom: var(--util-margin-size) !important;
	text-align: center;
	border-left-width: 1px;
	margin: auto;
}

#move-history-panel .utility-btn {
	background-color: unset !important;
    font-size: calc(var(--util-title-size) * 0.8) !important;
	line-height: 1.5 !important;
	padding: unset !important;
	justify-content: space-between;
    display: flex !important;
    align-items: center;
    margin-right: 0 !important;
    font-family: 'Roboto Mono', monospace;
}

#move-history-panel .utility-piece-icon {
	/*background-color: #437149 !important;*/
	border-radius: calc(var(--util-btn-size) / 4);
	margin: 0 !important;
}
