@media screen and (orientation: portrait) {
	:root {
		--home-title-size: 10vw;
		--home-button-size: 5vw;
		--home-match-width: 80vw;
		--home-match-text-size: 8vw;
		--home-match-margin: 2vw;
		--home-match-icon-size: 15vw;

		--margin-size: 2vw;
		--cell-size: 11.5vw;
		--piece-size: 11.5vw;
		--eaten-piece-size: 3vw;
		--picture-size: 10vw;
		--title-size: 3vw;
		--btn-size: 3vw;

		--google-auth-size: 3vw;
		--game-content-display: unset;
		--layer-margin-auto: auto;
		--chat-layer-padding-left: var(--margin-size);
		--scrollbar-size: 1vw;
	}
}
@media screen and (orientation: landscape) {
	:root {
		--home-title-size: 8vh;
		--home-button-size: 2vh;
		--home-match-width: 40vh;
		--home-match-text-size: 3vh;
		--home-match-margin: 1vw;
		--home-match-icon-size: 7vh;

		--margin-size: 2vh;
		--cell-size: 10vh;
		--piece-size: 10vh;
		--eaten-piece-size: 3vh;
		--picture-size: 10vh;
		--title-size: 3vh;
		--btn-size: 3vh;

		--google-auth-size: 3vh;
		--game-content-display: flex;
		--layer-margin-auto: unset;
		--chat-layer-padding-left: unset;
		--scrollbar-size: 1vh;
	}
}
@media (max-width: 176vh) and (orientation: landscape) {
	:root {
		--home-title-size: 8vh;
		--home-button-size: 2vh;
		--home-match-width: 40vh;
		--home-match-text-size: 3vh;
		--home-match-margin: 1vw;
		--home-match-icon-size: 7vh;

		--margin-size: 2vh;
		--cell-size: 10vh;
		--piece-size: 10vh;
		--eaten-piece-size: 3vh;
		--picture-size: 10vh;
		--title-size: 3vh;
		--btn-size: 3vh;

		--google-auth-size: 3vh;
		--game-content-display: unset;
		--layer-margin-auto: auto;
		--chat-layer-padding-left: var(--margin-size);
		--chat-layer-width: calc(var(--margin-size) * 4 + (8 * var(--cell-size)));
	}
}

body {
	overflow-x: hidden;
	font-family: 'Spectral', serif !important;
	text-align: center;
	background-color: black !important;
	/*background-image: url('assets/background.jpg');*/
	background-size: cover;
}

h3 {
	font-size: calc(var(--title-size)) !important;
}

img {
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.x0 { left: calc(var(--margin-size) + (0 * var(--cell-size))); }
.x1 { left: calc(var(--margin-size) + (1 * var(--cell-size))); }
.x2 { left: calc(var(--margin-size) + (2 * var(--cell-size))); }
.x3 { left: calc(var(--margin-size) + (3 * var(--cell-size))); }
.x4 { left: calc(var(--margin-size) + (4 * var(--cell-size))); }
.x5 { left: calc(var(--margin-size) + (5 * var(--cell-size))); }
.x6 { left: calc(var(--margin-size) + (6 * var(--cell-size))); }
.x7 { left: calc(var(--margin-size) + (7 * var(--cell-size))); }

.y0 { top: calc(var(--margin-size) + (0 * var(--cell-size))); }
.y1 { top: calc(var(--margin-size) + (1 * var(--cell-size))); }
.y2 { top: calc(var(--margin-size) + (2 * var(--cell-size))); }
.y3 { top: calc(var(--margin-size) + (3 * var(--cell-size))); }
.y4 { top: calc(var(--margin-size) + (4 * var(--cell-size))); }
.y5 { top: calc(var(--margin-size) + (5 * var(--cell-size))); }
.y6 { top: calc(var(--margin-size) + (6 * var(--cell-size))); }
.y7 { top: calc(var(--margin-size) + (7 * var(--cell-size))); }

.white { color: white; }
.black { color: black; }
.bg-white { background-color: white; }
.bg-black { background-color: black; }

.numbering {
	text-align: left;
	margin-left: calc(var(--margin-size) / 4);
	position: absolute;
	font-weight: bold;
	font-size: calc(var(--btn-size) * 0.75);
}

.lettering {
	text-align: right;
	margin-top: calc(var(--cell-size) - var(--margin-size) * 1.5);
	margin-right: calc(var(--margin-size) / 4);
	font-weight: bold;
	font-size: calc(var(--btn-size) * 0.75);
}

.grid {
	width: var(--piece-size);
	height: var(--piece-size);
	transition: .4s all ease;
	position: absolute;
}

.piece {
	width: calc(var(--piece-size));
	height: calc(var(--piece-size));

	position: absolute;
	float: left;
	transition: .2s all ease;
	z-index: 3;
}

.canvas-border {
	position: absolute;
	width: calc(var(--margin-size) * 2 + (8 * var(--cell-size)));
	height: calc(var(--margin-size) * 2 + (8 * var(--cell-size)));
	z-index: 0;
}

.eaten-piece {
	width: var(--eaten-piece-size);
	height: var(--eaten-piece-size);
}

.eaten-panel {
	height: calc(var(--eaten-piece-size) * 2);
	width: calc(var(--eaten-piece-size) * 9);
	padding-left: 10px;
	padding-right: 10px;
}

#matches-display {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-top: 0px;
}

.match-link {
	width: var(--home-match-width);
	margin-left: calc(var(--home-match-margin) / 2);
	margin-right: calc(var(--home-match-margin) / 2);
	margin-top: var(--home-match-margin);
	border-radius: calc(var(--home-match-margin) / 2) !important;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--home-match-text-size) !important;
	color: black !important;

	background-image: unset !important;
	border: unset !important;
	background-color: #57bf69 !important;
}

.match-link img {
	width: var(--home-match-icon-size);
	margin-right: var(--margin-size);
}

.match-link-date {
	font-size: calc(var(--home-match-text-size) * 0.8) !important;
	color: darkslategrey;
}

.modal { text-align: center; }
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.player-pic {
	width: var(--picture-size);
	height: var(--picture-size);
	margin: var(--margin-size);
	border-radius: calc(var(--picture-size) / 10);
}
.player-pic.pull-left  { margin-left: 0; }
.player-pic.pull-right { margin-right: 0; }

.player-name {
	margin-top: var(--margin-size) !important;
}

#title {
	color: white;
	-webkit-text-stroke: 2px black;
	margin-bottom: 0px;
	font-size: var(--home-title-size);
	font-weight: bold;
}

#subtitle {
	color: white;
	margin-top: 2px;
	margin-bottom: 10px;
}

#game-content {
	display: var(--game-content-display);
}

#chess-toolbar {
	margin-top: 2px;
	margin-bottom: 10px;
}

#chess-toolbar .btn {
	font-size: var(--home-button-size);
	padding: calc(var(--btn-size) / 3);
	padding-left: calc(var(--btn-size) / 1.5);
	padding-right: calc(var(--btn-size) / 1.5);
	border-radius: calc(var(--btn-size) / 4);
	background-image: unset;
	background-color: black;
	border: unset;
}

#canvasLayer {
	left: 0;
	position: absolute;
	padding: var(--margin-size);
	z-index: 3;
}

#canvas-wrap {
	position: relative;
	height: calc(var(--margin-size) * 2 + (8 * var(--cell-size)));
}

#actionLayer {
	background-color: rgba(255, 255, 255, 0.2);
	padding-left: var(--margin-size);
	padding-right: var(--margin-size);
	padding-bottom: var(--margin-size);
	margin-left: auto;
	margin-right: var(--layer-margin-auto);
	width: calc(var(--margin-size) * 4 + (8 * var(--cell-size)));
	min-width: calc(var(--margin-size) * 4 + (8 * var(--cell-size)));
}

#home-btn {
	font-size: calc(var(--btn-size) * 0.75);
	padding: calc(var(--btn-size) / 3);
	padding-left: calc(var(--btn-size) / 1.5);
	padding-right: calc(var(--btn-size) / 1.5);
	border-radius: calc(var(--btn-size) / 4);
	margin-top: calc(var(--picture-size) - var(--margin-size) - var(--btn-size));
	background-image: unset;
	background-color: black;
	border: unset;
}

#new-match-btn {
	margin-left: 10px;
}

.firebaseui-container, .firebaseui-idp-button, .firebaseui-tenant-button {
	max-width: unset !important;
	width: unset !important;
}

.firebaseui-idp-button {
	background-color: black !important;
}

.firebaseui-idp-text {
	font-size: var(--google-auth-size) !important;
}
.firebaseui-idp-icon-wrapper {
	font-size: var(--google-auth-size) !important;
}
.firebaseui-idp-icon {
	width: var(--google-auth-size) !important;
	height: var(--google-auth-size) !important;
}

.swal-modal, .modal-body {
	/*background-image: url("assets/background.jpg");*/
	background-size: cover;
	border-color: grey;
	border-width: 5px;
	border-width: 20px;
	border-style: ridge;
	background-color: darkslategrey !important;
	font-family: 'Spectral', serif !important;
}

.swal-text {
	color: white !important;
	font-weight: normal !important;
	font-size: calc(1.2 * var(--title-size));
	text-align: center;
}

#chat-layer {
	background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
	padding-left: var(--chat-layer-padding-left);
	padding-right: var(--margin-size);
	padding-top: 0;
	margin-left: var(--layer-margin-auto);
	margin-right: auto;
	width: var(--chat-layer-width);
	min-width: calc(var(--margin-size) * 4 + (8 * var(--cell-size)));
	color: white;
	text-align: left;
	height: 100vh;
	display: flow-root;
}

#utility-section {
	height: calc(70% - 3 * var(--margin-size));
	margin-top: var(--margin-size);
	margin-bottom: var(--margin-size);
	padding: var(--margin-size);
	background-color: #00000073;
	border-radius: calc(var(--btn-size) / 4);
}

#chat-section {
	height: calc(30%);
	background-color: #00000073;
	border-radius: calc(var(--btn-size) / 4);
}

#chat-bottom {
	display: flex;
	height: 20%;
	margin-left: unset;
	margin-right: unset;
}

#chat-text-input {
	font-size: calc(var(--title-size));
	height: 100%;
	border-radius: 0px 0px 0px calc(var(--btn-size) / 4);
	border-color: grey !important;
	border-width: 2px !important;
	border-style: solid !important;
}

#chat-send-button {
	font-size: calc(var(--title-size));
	padding: calc(var(--btn-size) / 2);
	height: 100%;
	display: flex;
	align-items: center;
	background-image: unset;
	background-color: darkslategrey;
	border: unset;
	border-radius: 0px 0px calc(var(--btn-size) / 4) 0px;
}

.chat-message {
	font-size: calc(var(--title-size)) !important;
}

#chat-messages {
	padding: var(--margin-size);
	text-align: left;
	border-radius: calc(var(--btn-size) / 4) calc(var(--btn-size) / 4) 0px 0px;
	color: #b3af72;
	height: 80%;
}

#chat-messages-content {
	height: 100%;
	overflow-y: scroll;
}

#chat-notification {
	width: calc(var(--btn-size) * 3);
	position: fixed;
	bottom: 0;
	right: calc( (100% - (var(--margin-size) * 4 + (8 * var(--cell-size)))) / 2 - var(--btn-size) * 3 );
}

/* width */
::-webkit-scrollbar {
	width: var(--scrollbar-size);
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: darkslategrey;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: grey;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE and Edge */
body {
	-ms-overflow-style: none;
}

.player-utility {
	margin: 0 !important;
	margin-bottom: var(--margin-size) !important;
	padding: var(--margin-size);
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: calc(var(--btn-size) / 4);
	display: flex;
}

.player-utility-profile {
	width: 40%;
	text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
    display: block;
	padding-left: var(--margin-size);
}

.player-utility-name {
	font-size: var(--title-size);
}

.player-utility-pic {
	width: var(--picture-size);
	height: var(--picture-size);
	border-radius: calc(var(--picture-size) / 10);
}

.player-utility-stat {
	width: 20%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    font-size: calc(var(--title-size) * 2);
}

.player-utility-timer {
	width: 40%;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
	padding-right: var(--margin-size);
    font-size: calc(var(--title-size) * 2);
}

.player-utility-timer .timer {
    padding-top: calc(var(--margin-size) / 2);
    padding-bottom: calc(var(--margin-size) / 2);
    padding-left: var(--margin-size);
    padding-right: var(--margin-size);
	border-radius: calc(var(--btn-size) / 4);
    float: right;
    background-color: #757575;
}

#black-player-image, #black-player-utility-image {
	border: calc(var(--picture-size) / 15) solid black;
}

#white-player-image, #white-player-utility-image {
	border: calc(var(--picture-size) / 15) solid white;
}