:root {
	--cell-size: 60px;
	--margin-size: 28px;
}

.x0 { position: absolute; left: calc(var(--margin-size) + (0 * var(--cell-size))); transition: .4s all ease; }
.x1 { position: absolute; left: calc(var(--margin-size) + (1 * var(--cell-size))); transition: .4s all ease; }
.x2 { position: absolute; left: calc(var(--margin-size) + (2 * var(--cell-size))); transition: .4s all ease; }
.x3 { position: absolute; left: calc(var(--margin-size) + (3 * var(--cell-size))); transition: .4s all ease; }
.x4 { position: absolute; left: calc(var(--margin-size) + (4 * var(--cell-size))); transition: .4s all ease; }
.x5 { position: absolute; left: calc(var(--margin-size) + (5 * var(--cell-size))); transition: .4s all ease; }
.x6 { position: absolute; left: calc(var(--margin-size) + (6 * var(--cell-size))); transition: .4s all ease; }
.x7 { position: absolute; left: calc(var(--margin-size) + (7 * var(--cell-size))); transition: .4s all ease; }

.y0 { position: absolute; top: calc(var(--margin-size) + (0 * var(--cell-size))); transition: .4s all ease; }
.y1 { position: absolute; top: calc(var(--margin-size) + (1 * var(--cell-size))); transition: .4s all ease; }
.y2 { position: absolute; top: calc(var(--margin-size) + (2 * var(--cell-size))); transition: .4s all ease; }
.y3 { position: absolute; top: calc(var(--margin-size) + (3 * var(--cell-size))); transition: .4s all ease; }
.y4 { position: absolute; top: calc(var(--margin-size) + (4 * var(--cell-size))); transition: .4s all ease; }
.y5 { position: absolute; top: calc(var(--margin-size) + (5 * var(--cell-size))); transition: .4s all ease; }
.y6 { position: absolute; top: calc(var(--margin-size) + (6 * var(--cell-size))); transition: .4s all ease; }
.y7 { position: absolute; top: calc(var(--margin-size) + (7 * var(--cell-size))); transition: .4s all ease; }

#body {
	text-align: center;
	background: url("assets/background.jpg") no-repeat center center fixed;
	background-size: cover;
}

#title {
	color: white;
	margin-bottom: 0px;
}

#subtitle {
	color: white;
	margin-top: 2px;
	margin-bottom: 10px;
}

#chess-toolbar {
	margin-top: 2px;
	margin-bottom: 10px;
}

#layerWrap {
	float: left;
	position: relative;
	left: 50%;
}

#canvasLayer {
	float: left;
	position: relative;
	padding-top: 18px;
	padding-left: 18px;
	background: #rgb(0,0,0,0.1);
	border: 1px solid white;
}

#actionLayer {
	float: left;
	position: relative;
	left: -50%;
	background: #rgb(0,0,0,0.1);
}

#matches-display {
	color: white;
}

img{
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.match-link {
	width: 30vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
