.x0 { position: absolute; left: 28px; }
.x1 { position: absolute; left: 88px; }
.x2 { position: absolute; left: 148px; }
.x3 { position: absolute; left: 208px; }
.x4 { position: absolute; left: 268px; }
.x5 { position: absolute; left: 328px; }
.x6 { position: absolute; left: 388px; }
.x7 { position: absolute; left: 448px; }

.y0 { position: absolute; top: 80px; }
.y1 { position: absolute; top: 140px; }
.y2 { position: absolute; top: 200px; }
.y3 { position: absolute; top: 260px; }
.y4 { position: absolute; top: 320px; }
.y5 { position: absolute; top: 380px; }
.y6 { position: absolute; top: 440px; }
.y7 { position: absolute; top: 500px; }