<!-- Javascript + Bootstrap Libraries -->
<script src="{{ site.pluginUrl }}/jquery/3.3.1.js"></script>
<script src="{{ site.pluginUrl }}/sweetalert/2.1.2.js"></script>
<script src="{{ site.pluginUrl }}/bootstrap/3.3.7.js"></script>
<script src="{{ site.pluginUrl }}/socket-io/2.1.1.js"></script>
<script src="{{ site.pluginUrl }}/pulltorefresh/0.1.20.js"></script>

<!-- Firebase Libraries -->
<script src="{{ site.pluginUrl }}/firebase-app/7.14.2.js"></script>
<script src="{{ site.pluginUrl }}/firebase-firestore/7.14.2.js"></script>
<script src="{{ site.pluginUrl }}/firebase-auth/7.14.2.js"></script>
<script src="{{ site.pluginUrl }}/firebase-ui-auth/4.5.0.js"></script>

<!-- Custom Libraries -->
<script src="{{ site.baseUrl }}/js/utility.js"></script>
<script src="{{ site.baseUrl }}/js/const.js"></script>
<script src="{{ site.baseUrl }}/js/modal.js"></script>
<script src="{{ site.baseUrl }}/js/firebase.js"></script>
<script src="{{ site.baseUrl }}/js/pull.js"></script>

{% for js in page.js %}
	<script src="{{ site.baseUrl }}/js/{{ js }}"></script>
{% endfor %}
