---
permalink: /
layout: default
title: Home - Web Chess

css:
- "index.css"
js:
- "index.js"
---

<div id="chess-toolbar" hidden>
	<div id="long-title" class="title">Web Chess</div>
	<div id="short-title" class="title">Chess</div>
	<div id="signout-btn" class="btn">Logout</div>
	<div id="new-match-btn" class="btn">+ Match</div>
</div>

<div id="matches-display">
</div>

<!-- New Match Popup Window -->
{% capture new_match_modal %}
	<div class="utility-divider">Theme</div>
	<div id="theme-panel" class="utility-panel">
		<div id="classic-theme-btn" class="utility-btn-wrap"> 
			<div class="btn utility-btn outline" onclick="selectMatchTheme(event, THEME_CLASSIC)">
				Classic
			</div>
		</div>
		<div id="winter-theme-btn" class="utility-btn-wrap"> 
			<div class="btn utility-btn" onclick="selectMatchTheme(event, THEME_WINTER)">
				Winter
			</div>
		</div>
		<div id="metal-theme-btn" class="utility-btn-wrap"> 
			<div class="btn utility-btn" onclick="selectMatchTheme(event, THEME_METAL)">
				Metal
			</div>
		</div>
		<div id="nature-theme-btn" class="utility-btn-wrap"> 
			<div class="btn utility-btn" onclick="selectMatchTheme(event, THEME_NATURE)">
				Nature
			</div>
		</div>
	</div>

	<div class="spacing"></div>

	<div class="utility-divider">Time</div>
	<div id="time-panel" class="utility-panel">
		<div class="utility-btn-wrap">
			<div class="btn utility-btn" onclick="selectMatchTime(event, 5 * 60)">
				5 Min
			</div>
		</div>
		<div class="utility-btn-wrap">
			<div class="btn utility-btn" onclick="selectMatchTime(event, 10 * 60)">
				10 Min
			</div>
		</div>
		<div class="utility-btn-wrap">
			<div class="btn utility-btn outline" onclick="selectMatchTime(event, 15 * 60)">
				15 Min
			</div>
		</div>
		<div class="utility-btn-wrap">
			<div class="btn utility-btn" onclick="selectMatchTime(event, 30 * 60)">
				30 Min
			</div>
		</div>
		<div class="utility-btn-wrap">
			<div class="btn utility-btn" onclick="selectMatchTime(event, 100 * 60)">
				∞
			</div>
		</div>
	</div>

	<div class="spacing"></div>
	<div class="spacing"></div>

	<div id="submit" class="btn utility-btn">
		Create Match
	</div>

	<div class="spacing"></div>
{% endcapture %}

<!-- Modals -->
{% include modal.html id="firebase-modal" %}
{% include modal.html id="new-match-modal" content=new_match_modal %}
