---
permalink: /index_mobile
layout: default
title: Home - Web Chess

css:
- "index_mobile.css"
js:
- "index.js"
---


<div id="chess-toolbar" hidden>
	<img id="menu-btn" class="toolbar-btn" src="assets/menu.png"/>
	<div class="title">Chess</div>
	<img id="new-match-btn" class="toolbar-btn" src="assets/new-game.png"/>
</div>

<div id="matches-display">
</div>

<!-- New Match Popup Window -->
{% capture new_match_modal %}
	<div class="divider">Theme</div>
	<div id="theme-panel" class="btn-panel">
		<div id="classic-theme-btn" class="btn-wrap"> 
			<div class="btn outline" onclick="selectMatchTheme(event, THEME_CLASSIC)">
				Classic
			</div>
		</div>
		<div id="winter-theme-btn" class="btn-wrap"> 
			<div class="btn" onclick="selectMatchTheme(event, THEME_WINTER)">
				Winter
			</div>
		</div>
		<div id="metal-theme-btn" class="btn-wrap"> 
			<div class="btn" onclick="selectMatchTheme(event, THEME_METAL)">
				Metal
			</div>
		</div>
		<div id="nature-theme-btn" class="btn-wrap"> 
			<div class="btn" onclick="selectMatchTheme(event, THEME_NATURE)">
				Nature
			</div>
		</div>
	</div>

	<div class="spacing"></div>

	<div class="divider">Time</div>
	<div id="time-panel" class="btn-panel">
		<div class="btn-wrap">
			<div class="btn" onclick="selectMatchTime(event, 5 * 60)">
				5 Min
			</div>
		</div>
		<div class="btn-wrap">
			<div class="btn outline" onclick="selectMatchTime(event, 15 * 60)">
				15 Min
			</div>
		</div>
		<div class="btn-wrap">
			<div class="btn" onclick="selectMatchTime(event, 30 * 60)">
				30 Min
			</div>
		</div>
		<div class="btn-wrap">
			<div class="btn" onclick="selectMatchTime(event, 100 * 60)">
				∞
			</div>
		</div>
	</div>

	<div class="spacing"></div>
	<div class="spacing"></div>

	<div id="submit" class="btn">
		Create Match
	</div>

	<div class="spacing"></div>
{% endcapture %}

<!-- Menu Popup Window -->
{% capture menu_modal %}
	<div id="menu-name"></div>
	<img id="menu-photo"/>
	<div id="menu-stats"></div>
	<div id="signout-btn" class="btn">Logout</div>
{% endcapture %}


<!-- Modals -->
{% include modal.html id="firebase-modal" %}
{% include modal.html id="new-match-modal" content=new_match_modal %}
{% include modal.html id="menu-modal" content=menu_modal %}
